{% extends 'book/partials/_custom_modal_base.html' %}
{% block modal-id %}modal-library{% endblock %}
{% block modal-attributes %} data-url="{% url 'book:create_library' %}" {% endblock %}
{% block modal-header %}
<h5 class="modal-title text-black" id="staticBackdropLabel">Add new library</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
{% endblock %}

{% block modal-body %}
    {% include 'book/partials/_form_new_library.html' %}
{% endblock %}

{% block modal-footer %}

{% endblock %}